In [1]:
import pandas as pd
import requests
from citipy import citipy
from config import weather_api_key
from datetime import datetime

In [2]:
TodayDate = '5/28/20'
df0 = pd.read_csv("time_series_covid19_confirmed_global.csv")
df0

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,5/19/20,5/20/20,5/21/20,5/22/20,5/23/20,5/24/20,5/25/20,5/26/20,5/27/20,5/28/20
0,NaN,Afghanistan,33.000000,65.000000,0,0,0,0,0,0,...,7653,8145,8676,9216,9998,10582,11173,11831,12456,13036
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,949,964,969,981,989,998,1004,1029,1050,1076
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,7377,7542,7728,7918,8113,8306,8503,8697,8857,8997
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,761,762,762,762,762,762,763,763,763,763
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,52,52,58,60,61,69,70,70,71,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,251,251,251,251,251,251,299,441,443,458
262,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,167,184,197,209,212,222,233,249,256,278
263,NaN,Comoros,-11.645500,43.333300,0,0,0,0,0,0,...,11,34,34,78,78,87,87,87,87,87
264,NaN,Tajikistan,38.861034,71.276093,0,0,0,0,0,0,...,1936,2140,2350,2551,2738,2929,3100,3266,3424,3563
265,NaN,Lesotho,-29.609988,28.233608,0,0,0,0,0,0,...,1,1,1,2,2,2,2,2,2,2

In [3]:
df1 = df0[['Province/State','Country/Region','Lat','Long',TodayDate]]
df1['Date'] = TodayDate
df1 = df1.rename(columns={TodayDate: 'Cases'})
df1

C:\ProgramData\Anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Province/State,Country/Region,Lat,Long,Cases,Date
0,NaN,Afghanistan,33.000000,65.000000,13036,5/28/20
1,NaN,Albania,41.153300,20.168300,1076,5/28/20
2,NaN,Algeria,28.033900,1.659600,8997,5/28/20
3,NaN,Andorra,42.506300,1.521800,763,5/28/20
4,NaN,Angola,-11.202700,17.873900,74,5/28/20
...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,458,5/28/20
262,NaN,Yemen,15.552727,48.516388,278,5/28/20
263,NaN,Comoros,-11.645500,43.333300,87,5/28/20
264,NaN,Tajikistan,38.861034,71.276093,3563,5/28/20
265,NaN,Lesotho,-29.609988,28.233608,2,5/28/20

In [4]:
url = "http://api.openweathermap.org/data/2.5/weather?units=Imperial&APPID=" + weather_api_key

In [6]:
for i, row in df1.iterrows():
    lat = row['Lat']
    lng = row['Long']
    city = citipy.nearest_city(lat, lng).city_name
    df1.at[i, 'City'] = city
    #df3.set_value(i, 'City', city)
    print(str(lat) + ', ' + str(lng) + ': ' + city)

33.0, 65.0: deh rawud
41.1533, 20.1683: elbasan
28.0339, 1.6596: adrar
42.5063, 1.5218: andorra la vella
-11.2027, 17.8739: camacupa
17.0608, -61.7964: swetes
-38.4161, -63.6167: bahia blanca
40.0691, 45.0382: tazagyukh
-35.4735, 149.0124: canberra
-33.8688, 151.2093: sydney
-12.4634, 130.8456: palmerston
-28.0167, 153.4: gold coast
-34.9285, 138.6007: adelaide
-41.4545, 145.9707: ulverstone
-37.8136, 144.9631: melbourne
-31.9505, 115.8605: perth
47.5162, 14.5501: hall
40.1431, 47.5769: ucar
25.0343, -77.3963: nassau
26.0275, 50.55: sitrah
23.685, 90.3563: dhaka
13.1939, -59.5432: blackmans
53.7098, 27.9534: minsk
50.8333, 4.0: ninove
9.3077, 2.3158: beterou
27.5142, 90.4336: tongsa
-16.2902, -63.5887: ascension
43.9159, 17.6791: voljevac
-14.235, -51.9253: mozarlandia
4.5353, 114.7277: limbang
42.7339, 25.4858: plackovci
12.2383, -1.5616: ouagadougou
16.5388, -23.0418: santa maria
11.55, 104.9167: phnum penh
3.848, 11.5021: yaounde
53.9333, -116.5765: edson
49.2827, -123.1207: vancouver
37.6489, -122.6655: pacifica
53.7609, -98.8139: thompson
46.5653, -66.4619: fredericton
53.1355, -57.6604: saint-augustin
44.682, -63.7443: halifax
51.2538, -85.3232: longlac
46.5107, -63.4168: kensington
52.9399, -73.5491: chapais
52.9399, -106.4509: shellbrook
6.6111, 20.9394: ippy
15.4542, 18.7322: ati
-35.6751, -71.543: san clemente
31.8257, 117.2264: hefei
40.1824, 116.4142: changping
30.0572, 107.874: fuling
26.0789, 117.9874: sanming
37.8099, 101.0583: zhangye
23.3417, 113.4244: guangzhou
23.8298, 108.7881: laibin
26.8154, 106.8748: guiyang
19.1959, 109.7453: chengmai
39.549, 116.1306: zhuozhou
47.862, 127.7615: cuiluan
33.882, 113.614: xuchang
22.3, 114.2: shenzhen
30.9756, 112.2707: yingzhong
27.6104, 111.7088: lianyuan
44.0935, 113.9448: erenhot
32.9711, 119.455: gaoyou
27.614, 115.7221: linchuan
43.6661, 126.1923: kouqian
41.2956, 122.6085: liaozhong
22.1667, 113.55: zhuhai
37.2692, 106.1655: yinchuan
35.7452, 95.9956: yumen
35.1917, 108.8701: tongchuan
36.3427, 118.1498: nanma
31.202, 121.4491: shanghai
37.5777, 112.2922: taiyuan
30.6171, 102.7103: yaan
39.3054, 117.323: tianjin
31.6927, 88.0924: lasa
41.1129, 85.2401: korla
24.974, 101.487: lianran
29.1832, 120.0934: choucheng
4.5709, -74.2973: san antonio del tequendama
-4.0383, 21.7587: mweka
-4.0383, 21.7587: mweka
9.7489, -83.7534: san rafael
7.54, -5.5471: beoumi
45.1, 15.2: ogulin
0.0, 0.0: takoradi
22.0, -80.0: manicaragua
35.1264, 33.4299: geri
49.8175, 15.473: golcuv jenikov
61.8926, -6.9118: sandur
71.7069, -42.6043: tasiilaq
56.2639, 9.5018: kjellerup
11.8251, 42.5903: jibuti
18.7357, -70.1627: villa altagracia
-1.8312, -78.1834: palora
26.0, 30.0: asyut
13.7942, -88.8965: san martin
1.5, 10.0: mbini
15.1794, 39.7823: ginda
58.5953, 25.0136: vandra
-26.5225, 31.4659: sidvokodvo
9.145, 40.4897: gelemso
-17.7134, 178.065: isangel
64.0, 26.0: muhos
3.9339, -53.1258: camopi
-17.6797, 149.4068: bowen
16.25, -61.5833: baie-mahault
-12.8275, 45.1662: ouangani
-20.9043, 165.618: ponerihouen
-21.1351, 55.2471: saint-leu
17.9, -62.8333: marigot
18.0708, -63.0501: marigot
14.6415, -61.0242: saint-joseph
46.2276, 2.2137: gueret
-0.8037, 11.6094: booue
13.4432, -15.3101: farafenni
42.3154, 43.3569: oni
51.0, 9.0: bad wildungen
7.9465, -1.0232: ejura
39.0742, 21.8243: rentina
15.7835, -90.2308: chisec
9.9456, -9.6966: tokonou
5.0, -58.75: ituni
18.9712, -72.2852: verrettes
41.9029, 12.4534: rome
15.2, -86.2419: guata
47.1625, 19.5033: taborfalva
64.9631, -19.0208: dalvik
21.0, 78.0: chandur
-0.7893, 113.9213: sampit
32.0, 53.0: meybod
33.0, 44.0: baghdad
53.1424, -7.6921: kilcormac
31.0, 35.0: yeroham
43.0, 12.0: chiusi
18.1096, -77.2975: may pen
36.0, 138.0: tatsuno
31.24, 36.51: bayir
48.0196, 66.9237: zhezkazgan
-0.0236, 37.9062: maua
36.0, 128.0: seoul
29.5, 47.75: doha
41.2044, 74.7661: at-bashi
56.8796, 24.6032: ogre
33.8547, 35.8623: riyaq
6.4281, -9.4295: gbarnga
47.14, 9.55: triesenberg
55.1694, 23.8813: kedainiai
49.8153, 6.1296: schieren
-18.7669, 46.8691: arivonimamo
2.5, 112.5: kapit
3.2028, 73.2207: felidhoo
35.9375, 14.3754: mellieha
21.0079, 10.9408: bilma
-20.2, 57.5: moka
23.6345, -102.5528: canitas
47.4116, 28.3699: telenesti
43.7333, 7.4167: monaco-ville
46.8625, 103.8467: bulgan
42.5, 19.3: podgorica
31.7917, -7.0926: marrakesh
-22.9576, 18.4904: gobabis
28.1667, 84.25: pokhara
12.5186, -70.0358: oranjestad
12.1696, -68.99: sint michiel
18.0425, -63.0548: marigot
52.1326, 5.2913: soest
-40.9006, 174.886: porirua
12.8654, -85.2072: rio blanco
17.6078, 8.0817: agadez
9.082, 8.6753: kagoro
41.6086, 21.7453: caska
60.472, 8.4689: al
21.0, 57.0: nizwa
30.3753, 69.3451: kohlu
8.538, -80.7821: ola
-6.315, 143.9555: ialibu
-23.4425, -58.4438: pozo colorado
-9.19, -75.0152: campoverde
13.0, 122.0: yook
51.9194, 19.1451: leczyca
39.3999, -8.2245: tramagal
25.3548, 51.1839: doha
45.9432, 24.9668: soars
60.0, 90.0: teya
-1.9403, 29.8739: gitarama
13.9094, -60.9789: canaries
12.9843, -61.2872: port elizabeth
43.9424, 12.4578: san marino
24.0, 45.0: riyadh
14.4974, -14.4524: koungheul
44.0165, 21.0059: kragujevac
-4.6796, 55.492: victoria
1.2833, 103.8333: singapore
48.669, 19.699: brezno
46.1512, 14.9955: zagorje ob savi
5.1521, 46.1996: mahadday weyne
-30.5595, 22.9375: carnarvon
40.0, -4.0: toledo
7.0, 81.0: badulla
12.8628, 30.2176: bara
3.9193, -56.0278: brokopondo
63.0, 16.0: ostersund
46.8182, 8.2275: sarnen
23.7, 121.0: chichi
-6.369, 34.8888: kilimatinde
15.0, 101.0: chai badan
8.6195, 0.8248: sotouboua
10.6918, -61.2225: arima
34.0, 9.0: qibili
38.9637, 35.2433: kayseri
1.0, 32.0: kiboga
48.3794, 31.1656: lypnyazhka
24.0, 54.0: abu dhabi
32.3078, -64.7505: hamilton
19.3133, -81.2546: bodden town
49.3723, -2.3644: octeville
36.1408, -5.3536: gibraltar
54.2361, -4.5481: whithorn
16.7425, -62.1874: old road
55.3781, -3.4360000000000004: moffat
-32.5228, -55.7658: paso de los toros
37.0902, -95.7129: coffeyville
41.3775, 64.5853: nurota
6.4238, -66.5897: puerto carreno
16.0, 108.0: da nang
-15.4167, 28.2833: lusaka
-20.0, 30.0: shurugwi
0.0, 0.0: takoradi
15.415, -61.371: pont casse
12.1165, -61.679: grenville
-18.665695, 35.529562: dondo
34.802075, 38.99681500000001: abu kamal
-8.874217, 125.727539: atambua
13.1939, -59.5432: blackmans
19.85627, 102.495496: luang prabang
26.3351, 17.228331: sabha
31.9522, 35.2332: jerusalem
11.8037, -15.1804: fulacunda
17.570692, -3.996166000000001: goundam
17.357822, -62.782998: mansion
64.8255, -124.8457: norman wells
64.2823, -135.0: mayo
42.602636, 20.902977: kosovo polje
21.9162, 95.956: sagaing
18.2206, -63.0686: the valley
18.4207, -64.64: road town
21.69400000000001, -71.7979: cockburn harbour
0.0, 0.0: takoradi
-22.3285, 24.6849: mopipi
-3.3731, 29.9189: gitega
8.460555000000001, -11.779889: yele
12.1784, -68.2385: kralendijk
-13.254307999999998, 34.301525: ntchisi
-51.7963, -59.5236: ushuaia
46.8852, -56.3159: saint-pierre
6.877000000000002, 31.307: yirol
24.2155, -12.8858: atar
0.18636, 6.613081: port-gentil
15.552727, 48.516388: sayyan
-11.6455, 43.3333: moroni
38.861034, 71.276093: karakendzha
-29.609988, 28.233608: thaba-tseka

In [8]:
df4 = df1.copy()
df4

,Province/State,Country/Region,Lat,Long,Cases,Date,City
0,NaN,Afghanistan,33.000000,65.000000,13036,5/28/20,deh rawud
1,NaN,Albania,41.153300,20.168300,1076,5/28/20,elbasan
2,NaN,Algeria,28.033900,1.659600,8997,5/28/20,adrar
3,NaN,Andorra,42.506300,1.521800,763,5/28/20,andorra la vella
4,NaN,Angola,-11.202700,17.873900,74,5/28/20,camacupa
...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,458,5/28/20,port-gentil
262,NaN,Yemen,15.552727,48.516388,278,5/28/20,sayyan
263,NaN,Comoros,-11.645500,43.333300,87,5/28/20,moroni
264,NaN,Tajikistan,38.861034,71.276093,3563,5/28/20,karakendzha
265,NaN,Lesotho,-29.609988,28.233608,2,5/28/20,thaba-tseka

In [9]:
count = 0
for i, row in df4.iterrows():
    city = row['City']
    city_url = url + "&q=" + city
    try:
        city_weather = requests.get(city_url).json()
        city_max_temp = city_weather["main"]["temp_max"]
        city_humidity = city_weather["main"]["humidity"]
        try:
            city_rain = city_weather["rain"]["3h"]
        except:
            city_rain = 0
        try:
            city_snow = city_weather["snow"]["3h"]
        except:
            city_snow = 0
        df4.at[i, 'Temp_Max'] = city_max_temp
        df4.at[i, 'Humidity'] = city_humidity
        df4.at[i, 'Rain'] = city_rain
        df4.at[i, 'Snow'] = city_snow
    except:
        print("City not found.")
        count += 1
    #df3.set_value(i, 'City', city)
    #print(str(lat) + ', ' + str(lng) + ': ' + city)
print(str(count) + ' cities not found')
df4

City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
City not found.
29 cities not found

,Province/State,Country/Region,Lat,Long,Cases,Date,City,Temp_Max,Humidity,Rain,Snow
0,NaN,Afghanistan,33.000000,65.000000,13036,5/28/20,deh rawud,NaN,NaN,NaN,NaN
1,NaN,Albania,41.153300,20.168300,1076,5/28/20,elbasan,53.60,81.0,0.0,0.0
2,NaN,Algeria,28.033900,1.659600,8997,5/28/20,adrar,90.82,15.0,0.0,0.0
3,NaN,Andorra,42.506300,1.521800,763,5/28/20,andorra la vella,57.99,96.0,0.0,0.0
4,NaN,Angola,-11.202700,17.873900,74,5/28/20,camacupa,54.88,60.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,458,5/28/20,port-gentil,78.80,88.0,0.0,0.0
262,NaN,Yemen,15.552727,48.516388,278,5/28/20,sayyan,63.25,30.0,0.0,0.0
263,NaN,Comoros,-11.645500,43.333300,87,5/28/20,moroni,77.47,78.0,0.0,0.0
264,NaN,Tajikistan,38.861034,71.276093,3563,5/28/20,karakendzha,NaN,NaN,NaN,NaN
265,NaN,Lesotho,-29.609988,28.233608,2,5/28/20,thaba-tseka,36.84,80.0,0.0,0.0

In [26]:
#df4.to_csv(r'ProcessedData.csv')
df2 = pd.read_csv('ProcessedData.csv')
del df2['Unnamed: 0']
df2

,Province/State,Country/Region,Lat,Long,Cases,Date,City,Temp_Max,Humidity,Rain,Snow
0,NaN,Afghanistan,33.000000,65.000000,12456,5/27/2020,deh rawud,NaN,NaN,NaN,NaN
1,NaN,Albania,41.153300,20.168300,1050,5/27/2020,elbasan,55.40,82.0,0.0,0.0
2,NaN,Algeria,28.033900,1.659600,8857,5/27/2020,adrar,81.50,18.0,0.0,0.0
3,NaN,Andorra,42.506300,1.521800,763,5/27/2020,andorra la vella,52.00,93.0,0.0,0.0
4,NaN,Angola,-11.202700,17.873900,71,5/27/2020,camacupa,53.69,70.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,443,5/27/2020,port-gentil,78.80,88.0,0.0,0.0
262,NaN,Yemen,15.552727,48.516388,256,5/27/2020,sayyan,68.32,24.0,0.0,0.0
263,NaN,Comoros,-11.645500,43.333300,87,5/27/2020,moroni,78.80,66.0,0.0,0.0
264,NaN,Tajikistan,38.861034,71.276093,3424,5/27/2020,karakendzha,NaN,NaN,NaN,NaN
265,NaN,Lesotho,-29.609988,28.233608,2,5/27/2020,thaba-tseka,33.60,84.0,0.0,0.0

In [27]:
frames = [df2, df4]
df3 = pd.concat(frames)
df3

,Province/State,Country/Region,Lat,Long,Cases,Date,City,Temp_Max,Humidity,Rain,Snow
0,NaN,Afghanistan,33.000000,65.000000,12456,5/27/2020,deh rawud,NaN,NaN,NaN,NaN
1,NaN,Albania,41.153300,20.168300,1050,5/27/2020,elbasan,55.40,82.0,0.0,0.0
2,NaN,Algeria,28.033900,1.659600,8857,5/27/2020,adrar,81.50,18.0,0.0,0.0
3,NaN,Andorra,42.506300,1.521800,763,5/27/2020,andorra la vella,52.00,93.0,0.0,0.0
4,NaN,Angola,-11.202700,17.873900,71,5/27/2020,camacupa,53.69,70.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
261,NaN,Sao Tome and Principe,0.186360,6.613081,458,5/28/20,port-gentil,78.80,88.0,0.0,0.0
262,NaN,Yemen,15.552727,48.516388,278,5/28/20,sayyan,63.25,30.0,0.0,0.0
263,NaN,Comoros,-11.645500,43.333300,87,5/28/20,moroni,77.47,78.0,0.0,0.0
264,NaN,Tajikistan,38.861034,71.276093,3563,5/28/20,karakendzha,NaN,NaN,NaN,NaN
265,NaN,Lesotho,-29.609988,28.233608,2,5/28/20,thaba-tseka,36.84,80.0,0.0,0.0

In [28]:
df3.to_csv(r'ProcessedData.csv')